<div class='center'>
  <div class='dialog-form-wide'>
    <h2>Edit Profile</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
        <%= devise_error_messages! %>

        <div><%= label_tag :username %>
          <%= f.text_field :username, {:disabled => 'disabled'} %></div>

        <div><%= f.label :name %>
          <%= f.text_field :name %></div>

        <div><%= f.label :email %>
          <%= f.email_field :email %></div>

        <br/>

        <div><%= f.label :password %>
          <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation, 'Confirm password' %>
          <%= f.password_field :password_confirmation %></div>

        <div class='center'>
          <i style='font-size: small; color:#999'>(leave blank if you don't want to change it)</i>
        </div>


        <br/>

        <div><%= f.label :current_password %>
          <%= f.password_field :current_password %></div>
        <div class='center'>
          <i style='font-size: small; color:#999'>(we need your current password to confirm your changes)</i>
        </div>

        <br/>

        <div class='center'>
          <!--<span class="export-button pdb-button">-->
          <!--<%= link_to "Cancel", parameters_path %>-->
          <!--</span>-->
          <%= f.submit "Update" %>
        </div>
    <% end %>

    <div class="center">
      <span class="pdb-button">
        <%= link_to "Cancel", parameters_path %>
      </span>
    </div>

  </div>
</div>