<div class='center'>
  <div class='dialog-form'>
    <h2>Sign in</h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :login, {:style => 'display:none;'} %>
      <%= f.text_field :login, {:placeholder => 'username or email'} %></div>

      <div><%= f.label :password, {:style => 'display:none;'} %>
      <%= f.password_field :password, {:placeholder => 'password'} %></div>
      <% if devise_mapping.rememberable? -%>
        <div style='font-size: small'><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>
      <br/>

      <div><%= f.submit "Sign in" %></div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
