%ul#menu-bar
  %li.current
    = link_to('Parameters', parameters_path)
  %li
    = link_to('Proposals', '#')
    %ul
      %li
        = link_to('View all proposals (ADMIN)', '#')
      %li
        = link_to('View new proposals (ADMIN)', '#')
      %li
        = link_to('View proposals under review', proposals_path)
      %li
        = link_to('View my proposals', my_proposals_path)
      %li
        = link_to('Create new proposal', '#')