%ul#menu-bar
  %li.current
    = link_to('Parameters', parameters_path)
  %li
    = link_to('Proposals', '#')
    %ul
      %li
        = link_to('View all proposals', proposals_path)
      %li
        = link_to('View my proposals', '#')
      %li
        = link_to('Create new proposal', '#')