%html
  %head
    %title= content_for?(:title) ? "SKA Parameter Database - #{yield :title}" : "SKA Parameter Database"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = javascript_include_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"

  %body
    #header-container
      = render :partial => "layouts/header"

    %p{:class => 'notice'}= notice
    %p{:class => 'alert'}= alert

    #body-container
      = yield