.page-content
  .parameter-detail
    %h2= parameter_name(@parameter)

    = form_for(@parameter) do |f|

      %div
        = f.label :unit
        = f.text_field :unit

      %div
        = f.label :source
        = f.text_area :source

      %div
        = f.label :expression
        = f.text_field :expression

      %div
        = f.label :description
        = f.text_area :description

      %div
        = f.label :protected
        = f.check_box :protected

      %div
        = f.label :case
        = f.collection_select :case_id, Case.all, :id, :name

      %div
        = f.label :kind
        = f.collection_select :kind_id, Kind.all, :id, :name

      %div
        = f.label :status
        = f.collection_select :status_id, Status.all, :id, :name

      %div
        = f.label :param_class
        = f.collection_select :param_class_id, ParamClass.all, :id, :name