.page-content
  .parameter-detail.parameter-form
    %h2= @parameter.name

    = form_for(@parameter) do |f|

      %div
        = f.label :protected
        = f.check_box :protected
        %i{:style=>'font-size: small; color:#999'} (if checked this parameter will only be visible to authenticated users)

      = f.fields_for :parameter_detail do |df|

        %div
          = df.label :status
          = df.collection_select :status_id, Status.all, :id, :name

        %br

        %div
          = df.label :case
          = df.collection_select :case_id, Case.all, :id, :name

        %div
          = df.label :kind
          = df.collection_select :kind_id, Kind.all, :id, :name

        %div
          = df.label :param_class
          = df.collection_select :param_class_id, ParamClass.all, :id, :name

        %br

        %div
          = df.label :unit
          = df.text_field :unit

        %div
          = df.label :expression
          = df.text_field :expression, :class => "wide"

        %div
          = df.label :source
          = df.text_area :source

        %div
          = df.label :description
          = df.text_area :description

        %br

      %div
        = label_tag ""
        = f.submit "Update", :class => "pdb-button"