.digg_pagination
	.page_info 
		= page_entries_info @parameters
	= will_paginate @parameters, :container => true
	%label Page size:
	%select{ :id => "page_size", :onchange => "window.location.href = '#{get_page_sizing_path}&page_size=' + $(this).val();" }
		= options_for_select ["10", "20", "50", "100"], get_page_size
	.export
		= "Export as "
		- formats = {"XML" => :xml, "PDF" => :pdf, "Java" => :java}
		= select("export_format", "", formats.collect { |label, param| [label, url_for(params.merge(:format => param))] })
		= button_to_function "Export", "window.open($('#export_format_').val(), '_blank')"
#search_results
	%table.zebra-striped
		%thead
			%th Unit
			%th Source
			%th Expression
			%th Description	
		%tbody
			- @parameters.each do |p|
				%tr.parameter
					%td
						= p.unit.empty? ? raw("&nbsp;") : p.unit
					%td
						= p.source.empty? ? raw("&nbsp;") : p.source
					%td
						= p.expression.empty? ? raw("&nbsp;") : p.expression
					%td
						= p.description