.page-content
  .parameter-detail
    - detail = @parameter.parameter_detail
    %h2= @parameter.name

    %div{:style => 'display: inline-block;'}
      %table
        %col{:style => 'width:140px;'}
        %col{:style => 'width:600px;'}

        %tr
          %td.field-name Protected
          %td
            = @parameter.protected ? 'Yes' : 'No'

        %tr
          %td.field-name Case
          %td= detail.case.nil? ? "(none)" : detail.case.name

        %tr
          %td.field-name Kind
          %td= detail.kind.name

        %tr
          %td.field-name Class
          %td
            = detail.param_class.name

        %tr
          %td.field-name Unit
          %td= detail.unit

        %tr
          %td.field-name Expression
          %td= detail.expression

        %tr
          %td.field-name Source
          %td= detail.source

        %tr
          %td.field-name Description
          %td= detail.description

    %br
    %br